{% extends "base.html" %}
{% set page = "desarrollo" %}
{% block title %}Desarrollo de Software - Da Vinci's War Tank{% endblock %}

{% block content %}
<div>
    <h4>Desarrollo en la página</h4>
    <p>
        Para la materia de desarrollo usaremos distintas herramientas... Python para backend, FastAPI para API, etc.
    </p>

    <div class="shadow rounded p-3 mb-4 d-flex justify-content-between">
        <ul>
            <li>Radio de la base: ______</li>
            <li>Altura: ______</li>
            <li>Ángulo de apertura: ______</li>
            <li>Volumen del tanque: ______</li>
            <li>Área superficial: ______</li>
            <li>Masa del tanque: ______</li>
            <li>Velocidad lineal: ______</li>
            <li>Velocidad angular: ______</li>
            <li>Coeficiente de fricción: ______</li>
            <li>Constante de resistencia del aire: ______</li>
            <li>Altura o inclinación de terreno: ______</li>
            <li>Energía cinética: ______</li>
            <li>Energía potencial: ______</li>
            <li>Trabajo realizado: ______</li>
        </ul>
        <img src="/static/maqueta.jpg" alt="Maqueta Física" style="max-height: 200px;" />
    </div>
</div>
{% endblock %}